.sections {
  
  width: 100vw;
}

.subtle-parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center top 20%; /* Lower the image to show the dog's head */
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.home {
  background-color: white;
  height: 1000px;
}

.about {
  position: relative;
  background-color: transparent;
  height: 1200px;
}

.projects {
  background-color: white;
  height: 1200px;
}

.contact {
  position: relative;
  background-color: transparent;
  height: 1000px;
}

.object-cover {
  object-fit: cover;
}
